################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/OpticaNetWebApi/.vs/OpticaNetWebApi
/OpticaNetWebApi/bin/Debug/net8.0
/OpticaNetWebApi/obj
/.vs
